//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 09 17:38:12 2019
//! **************************************************************************

SCHEMATIC START;
COMP "CE" LOCATE = SITE "P22" LEVEL 1;
COMP "CS" LOCATE = SITE "P24" LEVEL 1;
COMP "RX" LOCATE = SITE "P29" LEVEL 1;
COMP "TX" LOCATE = SITE "P30" LEVEL 1;
COMP "RB_HALL_I<0>" LOCATE = SITE "P118" LEVEL 1;
COMP "RB_HALL_I<1>" LOCATE = SITE "P117" LEVEL 1;
COMP "RB_HALL_I<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "discharge_key0" LOCATE = SITE "P83" LEVEL 1;
COMP "discharge_key1" LOCATE = SITE "P82" LEVEL 1;
COMP "adc" LOCATE = SITE "P102" LEVEL 1;
COMP "sck" LOCATE = SITE "P21" LEVEL 1;
COMP "LED2" LOCATE = SITE "P85" LEVEL 1;
COMP "RF_MOSFET_O<0>" LOCATE = SITE "P142" LEVEL 1;
COMP "RF_MOSFET_O<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "RF_MOSFET_O<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "RF_MOSFET_O<3>" LOCATE = SITE "P143" LEVEL 1;
COMP "RF_MOSFET_O<4>" LOCATE = SITE "P141" LEVEL 1;
COMP "RF_MOSFET_O<5>" LOCATE = SITE "P139" LEVEL 1;
COMP "miso" LOCATE = SITE "P23" LEVEL 1;
COMP "LF_MOSFET_O<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "LF_MOSFET_O<1>" LOCATE = SITE "P34" LEVEL 1;
COMP "LF_MOSFET_O<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "LF_MOSFET_O<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "LF_MOSFET_O<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "LF_MOSFET_O<5>" LOCATE = SITE "P33" LEVEL 1;
COMP "LF_HALL_I<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "LF_HALL_I<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "LF_HALL_I<2>" LOCATE = SITE "P45" LEVEL 1;
COMP "Robot_ID<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "Robot_ID<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "Robot_ID<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "Robot_ID<3>" LOCATE = SITE "P78" LEVEL 1;
COMP "switch_pulse" LOCATE = SITE "P2" LEVEL 1;
COMP "RF_HALL_I<0>" LOCATE = SITE "P132" LEVEL 1;
COMP "RF_HALL_I<1>" LOCATE = SITE "P131" LEVEL 1;
COMP "RF_HALL_I<2>" LOCATE = SITE "P133" LEVEL 1;
COMP "RB_MOSFET_O<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "RB_MOSFET_O<1>" LOCATE = SITE "P112" LEVEL 1;
COMP "RB_MOSFET_O<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "RB_MOSFET_O<3>" LOCATE = SITE "P116" LEVEL 1;
COMP "RB_MOSFET_O<4>" LOCATE = SITE "P114" LEVEL 1;
COMP "RB_MOSFET_O<5>" LOCATE = SITE "P111" LEVEL 1;
COMP "chip_zart" LOCATE = SITE "P6" LEVEL 1;
COMP "Buzzer" LOCATE = SITE "P134" LEVEL 1;
COMP "LB_MOSFET_O<0>" LOCATE = SITE "P67" LEVEL 1;
COMP "LB_MOSFET_O<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "LB_MOSFET_O<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "LB_MOSFET_O<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "LB_MOSFET_O<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "LB_MOSFET_O<5>" LOCATE = SITE "P62" LEVEL 1;
COMP "a_clk0" LOCATE = SITE "P48" LEVEL 1;
COMP "a_clk1" LOCATE = SITE "P56" LEVEL 1;
COMP "a_clk2" LOCATE = SITE "P123" LEVEL 1;
COMP "a_clk3" LOCATE = SITE "P127" LEVEL 1;
COMP "b_clk0" LOCATE = SITE "P47" LEVEL 1;
COMP "b_clk1" LOCATE = SITE "P51" LEVEL 1;
COMP "b_clk2" LOCATE = SITE "P121" LEVEL 1;
COMP "b_clk3" LOCATE = SITE "P126" LEVEL 1;
COMP "main_clk" LOCATE = SITE "P55" LEVEL 1;
COMP "mosi" LOCATE = SITE "P26" LEVEL 1;
COMP "LED1" LOCATE = SITE "P84" LEVEL 1;
COMP "LB_HALL_I<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "LB_HALL_I<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "LB_HALL_I<2>" LOCATE = SITE "P59" LEVEL 1;
COMP "shoot_zart" LOCATE = SITE "P5" LEVEL 1;
SCHEMATIC END;

